<?xml version="1.0" encoding="utf-8"?>
<!--
SeeShells Copyright (c) 2019-2020 Aleksandar Stoyanov, Bridget Woodye, Klayton Killough, 
Richard Leinecker, Sara Frackiewicz, Yara As-Saidi
SeeShells is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

SeeShells is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with this program;
 if not, see <https://www.gnu.org/licenses>.
-->
<packages>
  <package id="Costura.Fody" version="4.1.0" targetFramework="net46" />
  <package id="CsvHelper" version="15.0.1" targetFramework="net46" />
  <package id="Extended.Wpf.Toolkit" version="3.8.1" targetFramework="net46" />
  <package id="Fody" version="6.0.0" targetFramework="net46" developmentDependency="true" />
  <package id="KeraLua" version="1.0.24" targetFramework="net46" />
  <package id="Markdig" version="0.18.0" targetFramework="net46" />
  <package id="Markdig.Wpf" version="0.3.1" targetFramework="net46" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net46" />
  <package id="NFluent" version="2.3.0" targetFramework="net46" />
  <package id="NLog" version="4.6.8" targetFramework="net46" />
  <package id="NLog.Config" version="4.6.8" targetFramework="net46" />
  <package id="NLog.Schema" version="4.6.8" targetFramework="net46" />
  <package id="NLua" version="1.4.27" targetFramework="net46" />
  <package id="RestSharp" version="106.10.1" targetFramework="net46" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net46" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net46" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net46" />
</packages>